body {
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 22px;
}
/* style header */
#header {
    background: #2bbc9b; 
}
#header .wp-inner {
    position: relative;
}
#logo { 
    padding: 10px 0px;
    display: block;
}
#main-menu {
    width: 280px;
    position: absolute;
    top: 76px;
    left: 0px;
}
#main-menu li a {
    background: #2bbc9b;
    display: block;
    padding: 20px 28px;
    color: #fff;
    text-transform:uppercase;
    border-top: 1px solid #fff;
}
#main-menu li:hover a{
    background: #24a085;
    transition: all 0.25s;
}
/* style content
.wp-center {
    width: 960px;
    margin: 0px auto;
}
#content {
    background:#e6f0f0;
    min-height: 550px;
    padding: 20px;
}
/* style footer */
/* #footer {
    background: #709c9c;
    padding: 20px;
} */