body {
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 22px;
}
/* style header */
#header {
    background: #009999;
}
#main-menu li {
    float: left;
}
#main-menu li a {
    color: #ffffff;
    text-transform:uppercase;
    padding: 32px 28px;
    display: block;
}
#main-menu li:hover a {
    background: #709c9c;
    transition: all 0.25s;
}
#logo {
    padding: 14px 0px;
}
/* style content */
.wp-center {
    width: 960px;
    margin: 0px auto;
}
#content {
    background:#e6f0f0;
    min-height: 550px;
    padding: 20px;
}
/* style footer */
#footer {
    background: #709c9c;
    padding: 20px;
}